<configuration>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>w
  </contextListener>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg\n</pattern>
    </encoder>
  </appender>

  <!--
  UNCOMMENT below for File based Logging

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>target/jettyRST.log</file>

    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} [%file:%line] - %msg\n</pattern>
    </encoder>
  </appender>

  <logger name="arrays_reverser" level="info" additivity="false">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  <root level="debug">
    <appender-ref ref="FILE" />
  </root>
   -->

  <!--
  UNCOMMENT below for simple info only console logging -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>